*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: Josefin Sans, sans-serif;
}
.padre{
    display: grid;
    grid-template-areas:
        "menu"
        "coleccion"
        "promociones"
        "final";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 4fr 1r;
    grid-row-gap: 1%;
}
header{
    grid-area: menu;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    color: #FF0060;
    position: sticky;
    top: 0%;
    z-index:1;
    box-shadow: 1px 0px 5px #c4c2c2;
}
.navbar-nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.navbar .nav-link{
    color: #FF0060;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}
.carrito{
    position: absolute;
    font-size: 1.3rem;
    margin-left: 10%;
    margin-bottom: 8%;
    color: gray;
}
h1{
    color: #FF0060;
    font-family: Josefin sans, sans-serif;
    font-size: xx-large;
    text-align: center;
    font-style: bold;
    padding: 2%;
    margin-bottom: 1%;
}
.principal{
    grid-area: coleccion;
}

h2{
    color: #FF0060;
    font-family: Josefin Sans;
    font-size: xx-large;
    text-align: center;
    font-style: bold;
    padding: 2%;
    margin-top: 2%;
}
.segundasection{
    grid-area: promociones;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    gap: 10;
}
.promos a{
    text-decoration: none;
    color: gray;
    text-align: center;
}
footer{
    background-color: grey; 
    grid-area: final;
    padding: 1%;
    height: 100%;
    display: flex;
    color: white;
    font-style: bold;
    font-family: Josefin Sans;
    font-size: 0.8rem;

}
.contacto{
    width: 40%;
    justify-content: right;
}
.pagos{
    width: 30%;
    text-align: center;
}
.pagos i{
    font-size: 1.5rem;
}
.social{
    width: 30%;
    text-align: right;
}
.social a i{
    color: white;
    font-size: 1.5rem;
}
.galeria_productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 1rem;
    margin-left: 1%;
    margin-right: 1%;
}

.card{
    border-color: #FF0060;
    border-style: double;
    background-color: white;
}
.fotoprod:hover{
    transform: scale(1.2,1.2);
    transition-duration: 1s;
}
.card a{
    text-decoration: none;
    color: gray;
    font-size: large;
}
.card a i{
    color: #FF0060;
}
.carousel-item{
    width: 100%;
    height: 10%;
}
.contactanos{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-style: bold;
    color: gray;
    font-size: 1.3rem;
}
fieldset {
    font-size: 1.3rem;
    text-align: center;
}
form input{
    border-color: #FF0060;
    border-style: double;
    width: 80%;
    text-align: center;
}
textarea{
    border-color: #FF0060;
    border-style: double;

}
.enviar{
    background-color: white;
    border-color: #FF0060;
    border-style: double;
    color: gray;
    width: 60%;
}
.contactanos i{
    color: #FF0060;
}
.como_medir{
    color:#FF0060;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 10%;
}
.como_medir h2{
    padding-top: 3%;
    padding-bottom: 3%;
    color: grey;
    text-align: center;
    font-style: bold;
}
.talles{
    display: flex;
    color: grey;
    justify-content: space-around;
    font-family: Josefin Sans;
    font-size: 1rem;
    margin-bottom: 2%;
    text-align: center;
}
.talles img{
    width: 80%;
    height: 50%;
    
}

.medidas{
    display: flex;
    justify-content: space-evenly;
}
.nosotras{
    grid-area: coleccion;
    display: flex;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
}
.nosotras p{
    margin-top: 5%;
}
.nosotras img{
    border-radius: 5%;
}
.nosotras p{
    width: 100%;
    margin-left: 3%;
    color: gray;
}

@media screen and (max-width: 720px){
    footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer h6{
        color: #FF0060;
    }
    .contacto{
        width: 100%;
    }
    .pagos{
        width: 100%;
    }
    .social{
        width: 100%;
        text-align: center;
    }
    .talles{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .contactanos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    form input{
        width: 50%;
    }
    textarea{
        width: 80%;
    }
    .enviar{
        width: 40%;
    }
    .mapa{
        width: 90%;
    }
    .carrito{
        display: none;
    }
    .nosotras{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3%;
    }
    .nosotras img{
        width: 100%;
        height: 50%;
        margin-bottom: 1%;
    }
    .promos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .promos .card{
        margin-top: 3%;
    }
}