*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: Raleway, sans-serif;
}
.padre{
    display: grid;
    grid-template-areas:
        "menu"
        "coleccion"
        "promociones"
        "final";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr 4fr 2r;
    grid-row-gap: 1%;

}
header{
    grid-area: menu;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0%;
}
.menu{
    display: flex;
    margin-left: 30%;
    margin-top: 1%;
    background-color: white;
}
.logo{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-right: 8%;
}
.iconos{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 5%;
    background-color: white;
}
.iconos a{
    font-size: x-large;
    color: rgb(74, 237, 104);
    text-decoration: none;
}
header nav{
    display: flex;
    width: 100%;
    background-color: white;
}
header nav ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding: 2%;
    background-color: white;
}
header nav ul li a{

    text-decoration: none;
    font-size: x-large;
    position: relative;
    color: rgb(74, 237, 104);
}

header nav ul li .productos{
    position: absolute;
    display: none;
    border-radius: 5%;
    background-color: rgb(74, 237, 104);
    width: 10%;
    height: 70%;
    color: white;
    line-height: 2rem;
}
header nav ul li .productos li{
    display: block;
    text-align: left;
    font-size: large;
}

header nav ul li:hover .productos{
    display: block;
}

h1{
    border-color: rgb(18, 161, 45);
    border-style:dashed;
    border-top: 100%;
    border-bottom: 100%;
    border-left: 0;
    border-right: 0;
    color: rgb(236, 72, 99);
    font-family: ralewey;
    font-size: xx-large;
    text-align: center;
    font-style: bold;
    padding: 2%;
    margin-bottom: 1%;
}
.principal{
    grid-area: coleccion;
    justify-content: center;
}
.nuevacoleccion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.segundasection{
    grid-area: promociones;
    width: 100%;
}
h2{
    color: rgb(236, 72, 99);
    font-family: ralewey;
    font-size: xx-large;
    text-align: center;
    font-style: bold;
    padding: 2%;
    margin-top: 3%;
    border-top: 100%;
    border-bottom: 100%;
    border-left: 0;
    border-right: 0;
    border-style: dashed;
    border-color: rgb(18, 161, 45);
}
.promos{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: rgb(74, 237, 104); 
    padding: 20px;
    grid-area: final;
    display: flex;
    color: white;
    font-style: bold;
    font-family: ralewey;
    font-size: large;
}
.contacto{
    width: 40%;
    justify-content: right;
}
.contacto ul{
    list-style-type: none;
}
.pagos{
    width: 30%;
    text-align: center;
}
.pagos i{
    font-size: 2rem;
}
.social{
    width: 30%;
    text-align: right;
}
.social a i{
    color: white;
    font-size: 1.5rem;
}
.productos{
    display: flex;
    flex-wrap: wrap;
}
.card{
    width: 25%;
    height: 25%;
    text-align: center;
}
.card img{
    margin-top: 5%;
    border-radius: 15%;
}

.cardPromo{
    border-color: rgba(161, 34, 55);
    border-style: solid;
    width: 20%;
    margin-top: 3%;
}
.cardPromo__img{
    margin-top: 3%;
    margin-left: 10%;
}
.cardPromo__text{
    text-align: center;
    font-style: bold;
}
.cardPromo__boton{
    text-decoration: none;
    margin-left: 25%;
}