* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: Josefin Sans, sans-serif;
}

.grid_index {
  display: grid;
  grid-template-areas: "menu" "coleccion" "promociones" "final";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 4fr 1r;
  grid-row-gap: 1%;
}

.grid_paginas {
  display: grid;
  grid-template-areas: "menu" "principal" "final";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1r;
  grid-row-gap: 1%;
}

html {
  scroll-behavior: initial;
}

.card {
  border-color: #FF0060;
  border-style: double;
  background-color: white;
}
.card a {
  text-decoration: none;
  color: gray;
  font-size: large;
}

.btn {
  background-color: #FF0060;
  border-color: white;
  color: white;
}
.btn i {
  color: white text-shadow 1px 1px 1px gray;
}

.card-title:hover {
  color: #FF0060;
}

.fotoprod:hover {
  transform: scale(1.2, 1.2);
  transition-duration: 1s;
}

.galeria {
  margin-bottom: 3%;
}

header {
  grid-area: menu;
  width: 100%;
  height: 100%;
  background-color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 1;
  box-shadow: 1px 0px 5px #c4c2c2;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.nav-link a {
  width: 50%;
  height: 50%;
}

.navbar .nav-link {
  color: #FF0060;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-size: 1.5rem;
}

.navbar .nav-link:hover {
  color: gray;
  transform: scale(1.1, 1.1);
}

.carrito {
  position: absolute;
  font-size: 1.3rem;
  margin-left: 25%;
  margin-bottom: 5%;
  color: gray;
}

.carrito:hover {
  color: #FF0060;
}

h1 {
  color: #FF0060;
  font-family: Josefin Sans, sans-serif;
  text-align: center;
  font-style: bold;
  margin-bottom: 1%;
  margin-top: 1%;
}

h2 {
  color: #FF0060;
  font-family: Josefin Sans;
  font-size: xx-large;
  text-align: center;
  font-style: bold;
  padding: 2%;
  margin-top: 2%;
}

.titulo_carrusel {
  background-image: url(../../assets/imagenes/banner.jpg);
  width: 150%;
  margin-left: -25%;
  color: #FF0060;
  text-shadow: 2px 3px 2px gray;
}

footer {
  background-color: gray;
  grid-area: final;
  padding-top: 1%;
  height: 100%;
  width: 100%;
  color: white;
  font-family: Josefin Sans;
  text-align: center;
}
footer h5 {
  color: rgb(44, 44, 44);
}
footer p {
  color: rgb(44, 44, 44);
}

.flex_footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}

.contacto {
  font-size: 1.2rem;
  text-align: left;
  width: 33%;
  margin-left: 3%;
}

.pagos {
  width: 33%;
  text-align: center;
}
.pagos i {
  font-size: 2rem;
}

.social {
  width: 33%;
  margin-right: 3%;
  text-align: right;
}
.social a i {
  color: white;
  font-size: 2rem;
}

.segundasection {
  grid-area: promociones;
}

.promos {
  grid-area: promociones;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.nuevacoleccion {
  grid-area: coleccion;
}

.segundasection {
  grid-area: promociones;
}

.carousel-inner {
  margin-top: -3%;
}

.carousel-item {
  width: 100%;
  height: 10%;
}

.carousel-caption {
  top: 2%;
  color: white;
  text-align: center;
}
.carousel-caption h1 {
  padding-top: 1%;
}

.galeria_productos {
  grid-area: principal;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 5%;
  line-height: 50%;
}

.contactanos {
  grid-area: principal;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-style: bold;
  color: gray;
  font-size: 1.3rem;
}
.contactanos i {
  color: #FF0060;
}

fieldset {
  font-size: 1.3rem;
  text-align: center;
}

.text {
  border-color: #FF0060;
  border-style: solid;
  border-width: thin;
  width: 80%;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

.text:focus, .text_area:focus {
  border-color: gray;
  box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 2px rgb(44, 44, 44);
  outline: 0 none;
}

.text_area {
  border-color: #FF0060;
  border-style: solid;
  border-width: thin;
  border-radius: 10px 10px 10px 10px;
}

.enviar {
  border-color: #FF0060;
  border-style: solid;
  border-width: thin;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  color: gray;
  width: 30%;
  padding-top: 1%;
}

.enviar:hover {
  background-color: #FF0060;
  color: white;
}

.como_medir {
  color: gray;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
  height: 10%;
}

.talles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: gray;
  font-family: Josefin Sans;
  font-size: 1rem;
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
}
.talles img {
  width: 75%;
  height: 45%;
}

.nosotras {
  grid-area: principal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 3%;
}

.img_nosotras {
  width: 40%;
  height: 100%;
}
.img_nosotras img {
  width: 80%;
  border-radius: 5%;
}

.parrafo_nosotras {
  width: 60%;
  height: 100%;
  color: gray;
  font-size: 1.3rem;
  line-height: 105%;
}

@media screen and (max-width: 1024px) {
  .contactanos {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .text {
    width: 50%;
  }
  .text_area {
    width: 80%;
  }
  .enviar {
    width: 40%;
  }
  .mapa {
    width: 90%;
  }
}
@media screen and (max-width: 991px) {
  .carrito {
    display: none;
  }
  .nosotras {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 3%;
  }
  .img_nosotras {
    width: 90%;
  }
  .img_nosotras img {
    width: 100%;
  }
  .parrafo_nosotras {
    width: 90%;
    margin-top: 3%;
    text-align: center;
  }
}
@media screen and (max-width: 720px) {
  .flex_footer {
    flex-direction: column;
    justify-content: center;
  }
  .contacto {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  .pagos {
    width: 100%;
  }
  .social {
    width: 100%;
    text-align: center;
  }
  .promos {
    flex-direction: column;
    align-items: center;
  }
  .promos .card {
    margin-top: 3%;
  }
  .carousel-caption {
    top: 2%;
  }
  .talles {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */