.card{
    border-color: $principal;
    border-style: double;
    background-color: $fondo;
        a{
            text-decoration: none;
            color: $secundario;
            font-size: large;
        }
}
.btn{
    background-color: $principal;
    border-color: $fondo;
    color: $fondo;
        i{
            color: $fondo
            text-shadow 1px 1px 1px $secundario;
        }
}
.card-title:hover{
    color: $principal;
}
.fotoprod:hover{
    transform: scale(1.2,1.2);
    transition-duration: 1s;
}

.galeria{
    margin-bottom: 3%;
}
