.card{
    border-color: $principal;
    border-style: double;
    background-color: $fondo;
        a{
            text-decoration: none;
            color: $secundario;
            font-size: large;
        }
}
.btn{
    background-color: $principal;
    border-color: $fondo;
    color: $fondo;
        i{
            color: $fondo
            text-shadow 1px 1px 1px $secundario;
        }
}
.card-title:hover{
    color: $principal;
}
.fotoprod:hover{
    transform: scale(1.2,1.2);
    transition-duration: 1s;
}

.galeria{
    margin-bottom: 3%;
}

//CARRITO

.contenedor-carrito{
    display: grid;
    grid-template-areas: "productos comprar";
    grid-template-columns: 6fr 1fr;
    grid-column-gap: 50%;
}

.carrito-vacio{
    color: $secundario;
    display: none;
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 70%;
    margin-left: 1%;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-color: $principal;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    background-color: $fondo;
    width: 100%;
    padding: 1rem;
    line-height: -50%;
}

.carrito-imagen-producto{
    width: 10rem;
}

.carrito-acciones{
    width: 20%;
}