footer{
    background-color: $secundario; 
    grid-area: final;
    padding: 1%;
    height: 100%;
    display: flex;
    color: $fondo;
    font-style: bold;
    font-family: $letra;
    font-size: 0.8rem;
}
.contacto{
    width: 40%;
    justify-content: right;
}
.pagos{
    width: 30%;
    text-align: center;
        i{
            font-size: 1.5rem;
        }
}
.social{
    width: 30%;
    text-align: right;
        a i{
            color: $fondo;
            font-size: 1.5rem;
        }
}