footer{
    background-color: $secundario; 
    grid-area: final;
    padding-top: 1%;
    height: 100%;
    width: 100%;
    color: $fondo;
    font-family: $letra;
    text-align: center;
        h5{
            color: rgb(44, 44, 44);
        }
}
.flex_footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}
.contacto{
    font-size: 1.2rem;
    text-align: left;
    width: 33%;
    margin-left: 3%;
}
.pagos{
    width: 33%;
    text-align: center;
        i{
            font-size: 2rem;
        }
}
.social{
    width: 33%;
    margin-right: 3%;
    text-align: right;
        a i{
            color: $fondo;
            font-size: 2rem;
        }
.derechos{
    width: 100%;
}
}