.nuevacoleccion{
    grid-area: coleccion;
}
.segundasection{
    grid-area: promociones;
}
.carousel-inner{
    margin-top: -3%;
}
.carousel-item{
    width: 100%;
    height: 10%;
}
.carousel-caption {
    top: 2%;
    font-size: 5rem;
    color: $fondo;
    text-align: center;
}
.galeria_productos{
    grid-area: principal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    gap: 1rem;
    margin: 1%;
}
.contactanos{
    grid-area: principal;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-style: bold;
    color: $secundario;
    font-size: 1.3rem;
        i{
            color: $principal;
        }
}
fieldset {
    font-size: 1.3rem;
    text-align: center;
}
form input{
    border-color: $principal;
    border-style: double;
    width: 80%;
    text-align: center;
}
textarea{
    border-color: $principal;
    border-style: double;

}
.enviar{
    background-color: $fondo;
    border-color: $principal;
    border-style: double;
    color: $secundario;
    width: 30%;
}
.como_medir{
    color: $secundario;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 10%;
}
.talles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $secundario;
    font-family: Josefin Sans;
    font-size: 1rem;
    margin-bottom: 2%;
    text-align: center;
        img{
            width: 75%;
            height: 45%;
        }
}
.nosotras{
    grid-area: principal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3%;
}
.img_nosotras{
    width: 40%;
    height: 100%;
        img{
            width: 80%;
            border-radius: 5%;
        }
}
.parrafo_nosotras{
    width: 60%;
    height: 100%;
    color: $secundario;
    font-size: 1.3rem;
    line-height: 105%;
}