.nuevacoleccion{
    grid-area: coleccion;
}
.segundasection{
    grid-area: promociones;
}
.carousel-inner{
    margin-top: -3%;
}
.carousel-item{
    width: 100%;
    height: 10%;
}
.carousel-caption {
    top: 2%;
    color: $fondo;
    text-align: center;
        h1{
            padding-top: 1%;
        }
}
.galeria_productos{
    grid-area: principal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 5%;
    line-height: 50%;
}
.contactanos{
    grid-area: principal;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-style: bold;
    color: $secundario;
    font-size: 1.3rem;
        i{
            color: $principal;
        }
}
fieldset {
    font-size: 1.3rem;
    text-align: center;
}
.text{
    border-color: $principal;
    border-style: solid;
    border-width: thin;
    width: 80%;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
.text:focus, .text_area:focus{
    border-color: $secundario;
    box-shadow: 1px 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 2px rgba(44,44,44);
    outline: 0 none;
}
.text_area{
    border-color: $principal;
    border-style: solid;
    border-width: thin;
    border-radius: 10px 10px 10px 10px;
}
.enviar{
    border-color: $principal;
    border-style: solid;
    border-width: thin;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    background-color: $fondo;
    color: $secundario;
    width: 30%;
    padding-top: 1%;
}
.enviar:hover{
    background-color: $principal;
    color: $fondo;
}
.como_medir{
    color: $secundario;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    height: 10%;
}
.talles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $secundario;
    font-family: Josefin Sans;
    font-size: 1rem;
    margin-bottom: 2%;
    margin-top: 2%;
    text-align: center;
        img{
            width: 75%;
            height: 45%;
        }
}
.nosotras{
    grid-area: principal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 3%;
}
.img_nosotras{
    width: 40%;
    height: 100%;
        img{
            width: 80%;
            border-radius: 5%;
        }
}
.parrafo_nosotras{
    width: 60%;
    height: 100%;
    color: $secundario;
    font-size: 1.3rem;
    line-height: 105%;
}

.filtroProductos{
    margin-left: 3rem;
    margin-bottom: 1rem;
}