h1{
    color: $principal;
    font-family: $letra, sans-serif;
    text-align: center;
    font-style: bold;
    margin-bottom: 1%;
    margin-top: 1%;
}
h2{
    color: $principal;
    font-family: $letra;
    font-size: xx-large;
    text-align: center;
    font-style: bold;
    padding: 2%;
    margin-top: 2%;
}
.titulo_carrusel{
    background-image: url(https://thumbs.dreamstime.com/b/rose-gold-glitter-background-texture-blur-selective-focus-72952020.jpg);
    width: 150%;
    margin-left: -25%;
    color: $principal;
    text-shadow: 2px 3px 2px $secundario;
}