h1{
    color: $principal;
    font-family: $letra, sans-serif;
    font-size: xx-large;
    text-align: center;
    font-style: bold;
    padding: 2%;
    margin-bottom: 1%;
}
h2{
    color: $principal;
    font-family: $letra;
    font-size: xx-large;
    text-align: center;
    font-style: bold;
    padding: 2%;
    margin-top: 2%;
}